.total{
    margin-right: 18px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s;
}
.total:hover{
    opacity: .8;
}
.total svg{
    margin-left: 10px;
}