@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('/fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-MediumItalic.eot');
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		url('/fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Thin.eot');
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('/fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
	src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
		url('/fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-BoldItalic.eot');
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		url('/fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-ExtraLight.eot');
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Italic.eot');
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		url('/fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-LightItalic.eot');
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		url('/fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-BlackItalic.eot');
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		url('/fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('/fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('/fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('/fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('/fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-ThinItalic.eot');
	src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
		url('/fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
		url('/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/Stolzl/Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'),
        url('/fonts/Stolzl/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Light.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Light.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/Stolzl/Stolzl-Thin.eot');
    src: local('Stolzl Thin'), local('Stolzl-Thin'),
        url('/fonts/Stolzl/Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Thin.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Thin.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('/fonts/Stolzl/Stolzl-Book.eot');
    src: local('Stolzl Book'), local('Stolzl-Book'),
        url('/fonts/Stolzl/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Book.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Book.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/Stolzl/Stolzl-Regular.eot');
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
        url('/fonts/Stolzl/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Regular.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Regular.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/Stolzl/Stolzl-Bold.eot');
    src: local('Stolzl Bold'), local('Stolzl-Bold'),
        url('/fonts/Stolzl/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Bold.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Bold.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/Stolzl/Stolzl-Medium.eot');
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
        url('/fonts/Stolzl/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Stolzl/Stolzl-Medium.woff2') format('woff2'),
        url('/fonts/Stolzl/Stolzl-Medium.woff') format('woff'),
        url('/fonts/Stolzl/Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


body{
  font-family: 'Montserrat';
  background: #FFFFFF;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  width: inherit;
}
section h2{
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #081744;
}

/* macros */
.d-flex{
	display: flex;
}
.justify-content-between{
	justify-content: space-between;
}
.align-end{
	align-items: flex-end;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}